@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --blue: #006BFF;
    --light-blue: #08C2FF;
    --blue-bg: #BCF2F6;
    --yellow: #FFF100;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}

.bottomNavbar a i.active {
    color: var(--blue)!important;
}

.hideScrollbar::-webkit-scrollbar {
    display: none;
}

.hideScrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.customContainer {
    max-width: 80%;
    margin-inline: auto;
}

@media (width<568px) {
    .customContainer {
        max-width: 95%;
    }
}